# binaries
bin/
/server
/worker
output/


# build artifacts
coverage/
*.out
*.test

# env
.env
.env.*
*.env
configs/worker/services.cnf
configs/server/adp.yaml
/secrets/prod/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# codegraph
.codegraph
